#root {
  max-width: 1900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.snipcart-button-primary {
  background-color: RGB(227, 109, 5);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.snipcart-button-primary:hover {
  background-color: #ff8c00;
}

.snipcart-button-icon.is-secondary {
  color: white;
  border-color: transparent;
  background-color: RGB(255, 209, 155);
  transition: background-color 0.3s ease-in-out;
}

.snipcart-button-icon.is-secondary:hover {
  color: white;
  background-color: RGB(247, 109, 5);
}

.snipcart-cart-header__icon {
  color: RGB(247, 109, 5);
}

.snipcart-button-secondary {
  color: RGB(187, 109, 5);
  border-color: transparent;
  background-color: RGB(255, 209, 155);
  transition: background-color 0.3s ease-in-out;
}

.snipcart-button-secondary:hover {
  color: white;
  border-color: transparent;
  background-color: RGB(247, 109, 5);
}
